<h1>GET요청</h1>
<form action="/login" method="GET">
    <input type="text" name="userid">
    <input type="password" name="userpw">
    <input type="submit" value="GET">
</form>


<h1>POST요청</h1>
<form action="/login" method="POST">
    <input type="text" name="userid">
    <input type="password" name="userpw">
    <input type="submit" value="POST">
</form>


<h1>비동기 활용하기 GET</h1>
<button id="btn">통신하기</button>
<div id="loading" style="display:none">
    <img src="https://blog.kakaocdn.net/dn/0mySg/btqCUccOGVk/nQ68nZiNKoIEGNJkooELF1/img.jpg
    ">
</div>
<div id="getroot"></div>
<script type="text/javascript">
    const btn = document.querySelector('#btn');
    btn.addEventListener('click',btnFn);
    function btnFn(){
        console.log('req click');
        document.querySelector('#loading').style.display='block';
        let options = {
            method:'GET',
        }
        
        fetch('http://localhost:3000/login?userid=ads&userpw=ads',options)
        .then(data => {
            console.log(data);
            if(data.status == 404){
                const root = document.querySelector('#getroot');
                root.innerHTML = '페이지가 존재하지않음';
            }
            return data.text();
        })
        .then(text=>{
            document.querySelector('#loading').style.display='none';
            const root = document.querySelector('#getroot');
            root.innerHTML += text+'<br />';
        })
    }
</script>

<h1>비동기 활용하기 POST</h1>
<button id="btn2">통신하기</button>
<div id="postroot"></div>
<script type="text/javascript">
    const btn2 = document.querySelector('#btn2');
    btn2.addEventListener('click', btnFn2);
    function btnFn2(){
        console.log('req click');
        let options = {
            method:'POST',
            headers:{
                'content-type':'application/json',
            },
            //body:JSON.stringify({userid:'asd',userpw:'asd'}),
            body:`{"userid":"asd","userpw":"asd"}`
        }
        fetch('http://localhost:3000/login',options)
        .then(data => {
            console.log(data)
            return data.text();
        })
        .then(text=>{
            const root = document.querySelector('#postroot');
            root.innerHTML += text+'<br />';
        })
    }
</script>